{% extends 'base.html' %}

{% block main_content %}
<section>
<header>
    <h2>
       {{ post.title }}
    </h2>
    {% if post.url %}
    <figure>
    <img src="{{ post.url}}" alt="{{ post.title }}">
    </figure>
    {% endif %}

</header>
<main>


    <p class="intropostdetail">
        {{ post.description }}
    </p>

    <p class="textopost">
        {{ post.text }}
    </p>

    {% for category in post.categories.all %}
    <span>{{ category.name }}</span>
    {% endfor %}

    <p class="authorpost">Author: {{ post.owner.username }}</p>
    <p>{{ post.publication_date }}</p>

</main>

</section>
{% endblock %}
