{% extends 'base.html' %}

{% block main_content %}

    {% for post in latest_posts %}
    <article>
        <div class="imagenpost">
             {% if post.url %}
            <img src="{{ post.url}}" alt="{{ post.title }}" height="300">
            {% endif %}
        </div>
        <div class="infopost">
                    <a href="{% url 'post_detail' post.pk %}">

             <h5>
            {{ post.title }}
            </h5>
            <p>{{ post.description }}</p>
 </a>
        </div>

    </article>
    {% endfor %}


{% endblock %}